<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<!--
  SPDX-License-Identifier: CC0-1.0
  SPDX-FileCopyrightText: 2026 Laurent Montel <montel@kde.org>
-->
<gui name="kmcpclientinspector" version="10">
 <MenuBar>
  <Menu name="file" >
  </Menu>
  <Menu name="settings" append="settings_merge">
    <text>&amp;Settings</text>
    <Action name="colorscheme_menu" />
  </Menu>
 </MenuBar>
</gui>
